<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %} {% endblock %}</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-Zenh87qX5JnK2Jl0vWa8Ck2rdkQ2Bzep5IDxbcnCeuOxjzrPF/et3URy9Bv1WTRi" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-OERcA2EqjJCMA+/3y+gxIOqMEjwtxJY7qPCqsdltbNJuaOe923+mo//f6V8Qbsw3" crossorigin="anonymous"></script>
    <link rel="stylesheet" type="text/css" href="{{url_for('static', filename='css/style.css')}}">
    <link rel="icon" href="/static/img/favicon.png" type="image/x-icon">
    <link rel="shortcut icon" href="/static/img/favicon.png" type="image/x-icon">
</head>
<body>
    <nav class="menu">
        <a href="/"><label for="" class="harmony">HARMONY</label></a>
        <ul class="barraInicio">
            
            <li>
                <a href="{{ url_for('perfiles') }}">Perfil</a>
            </li>

            <li>
                <a href="{{ url_for('perfil') }}">{{ session.name }}</a>
            </li>
            <li>
                {% if 'email' in session %}
                <form action="{{ url_for('perfil') }}" method="POST">
                 <li> <a href="{{ url_for('logout') }}">Logout</a></li>
                </form>
            </li>       
            
            {% endif %}

        </ul>
    </nav>

    <main class="d-flex">
        <div class="container-fluid row m-0 vh-100 justify-content-end align-items-center">
            <div class="card shadow w-50">
                <div class="card-body">
                    <form   method="POST">
                        <h3 class="harmony-black">¡Hola! {{ session.name }}</h3><br>
                        <h5 class="harmony-black">Banda</h5><br>
                        <strong>Email:</strong> {{ session.email }}<br>
                        <strong>Descripción:</strong> {{ session.descripcion }}<br>
                        <br>
                    
                        <p> <h5>¿Qué quieres hacer? :</h5>
                            <ul>
                                <li><a href="/blogs">Ver publicaciones</a></li>
                                <li><a href="/escribe_blog">Publicar</a></li>
                            </ul>
                            <hr>
                           

                        </p>

                    
                    </form>
                        
                    
                </div>
            </div>
        </div>

    </main>
</body>
</html> 