* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }


  .harmony {
    font-family:'Courier New', Courier, monospace;
    font-weight: bold;
    text-align: center;
  }
  
  .subtitulo {

    color: rgb(65, 62, 62);
    text-align: center;

  }
  
  .menu {
    background: #333;
    height: 75px;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: white;
    font-weight: bold;
    font-family:'Courier New', Courier, monospace;
  }
  
  a {
    text-decoration: none;
  }
  
  .logo {
    cursor: pointer;
    font-size: 24px;
    padding: 0 40px;
    font-weight: bold;
    color: white;
  }
  
  .menu-opc {
    display: flex;
    list-style: none;
    margin-right: 30px;
  }
  
  .menu-opc li {
    margin: 0 5px;
  }
  
  .menu-opc li a {
    padding: 10px 20px;
    text-decoration: none;
    font-size: 18px;
    display: block;
    color: white;
  }
  
  .menu-opc li:hover {
    background: #fff;
    transition: 0.4s;
  }
  
  .menu-opc li a:hover {
    color: black;
  }
  
  .form {
    width: 300px;
    height: 450px;
    padding: 70px 0px;
    border: 2px solid #ccc;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
  }
  
  .form label {
    margin-bottom: 10px;
    font-weight: bold;
    display: block;
    font-size: 15px;
  }
  
  .form-input {
    height: 35px;
    width: 92%;
    border: 2px solid rgba(201, 195, 195, 0.76);
    border-radius: 5px;
    padding: 5px;
  }
  
  .form button,
  .entrada button {
    border: none;
    outline: none;
    color: white;
    height: 40px;
    width: 90px;
    background: #333;
    font-size: 15px;
    margin-top: 20px;
    border-radius: 5px;
    list-style: none;
    cursor: pointer;
  }
  
  .login {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    padding: 15px;
  }
  
  .registro {
    display: flex;
    justify-content: flex-end;
    padding: 100px;
    width: 80%; /* Puedes ajustar el valor del ancho según tus necesidades */
    margin: -50 auto; /* Centra horizontalmente la caja */
  }
  
  
  body {
    margin: 0;
    background-image: url(../img/fondo3.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
  }
  
    body:before {
        content: "";
        width: 50%;
        height: 100vh;
        position: fixed;
        top: 0;
        left: 0;
        background-image: url('/static/img/background.jpg');
        background-size: cover;
        opacity: 0.6;
        z-index: -1;
      }
  
  .entrada {
    color: #242121;
    font-size: 24px;
    margin-top: 200px;
    margin-right: 100px;
    text-align:right;
  }
  
  .inicio {
    color: #fff;
    font-size: 18px;
    margin-top: 200px;
    text-align: center;
    padding: 10px 20px;
    background: rgba(0, 0, 0, 0.7);
  }
  
  .inicio button {
    border: none;
    outline: none;
    color: white;
    height: 40px;
width: 90px;
background: #333;
font-size: 15px;
margin-top: 20px;
border-radius: 5px;
cursor: pointer;
}

.home {
margin: 0;
background-image: url(../img/fondo2.jpg);
background-repeat: no-repeat;
background-size: cover;
background-position: center;
background-attachment: fixed;
}

.home:before {
content: "";
width: 100%;
min-height: 100vh;
position: absolute;
top: 0;
left: 0;
background-image: linear-gradient(to top, #fbc2eb 0%, #a6c1ee 100%);
opacity: 0.7;
z-index: -1;
}

.home2 {
margin: 0;
background-image: url(../img/portada.jpg);
background-repeat: no-repeat;
background-size: cover;
background-position: center;
background-attachment: fixed;
}

.home2:before {
content: "";
width: 100%;
min-height: 100vh;
position: absolute;
top: 0;
left: 0;
background: linear-gradient(to right, #00f260, #0575e6);
opacity: 0.4;
z-index: -1;
}
   
  