{% extends 'base.html' %} 
{% block content %}

    <br>
    
    <form class="newformb" action="" method="POST" >
        <h2 class="act">Actualizar Usuario</h2>
        <br>
        <h3>Nombre</h3>
        <input type="text" name="name" value="{{ usuario.name }}">
        <h3>Email</h3>
        <input type="email" name="email" value="{{ usuario.email }}">
        <h3>ID Tipo Usuario</h3>
        <input type="text" name="id_tip_usu" value="{{ usuario.id_tip_usu }}">
        <h3>Descripción</h3>
        <textarea name="descripcion">{{ usuario.descripcion }}</textarea>
        <h3>Password:</h3>
        <input type="password" name="password" value="{{ usuario.password }}"><br>
        <br>

        <input type="submit" value="Actualizar">
    </form>

    

    {% endblock %}